.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 400px;
  margin-top: 200px;
}
.display{
  width: 318px;
  height: 70px;
  border:1px solid black;
  background: lightcyan;
}
.buttons{
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 320px;
}
.left-side{
  flex:75%;
  height: 100%;
  background-color: darkblue;
}
.right-side{
  flex:25%;
  height: 100%;
  background-color: darkgray;
}
#clear-btn{
  background-color: black;
  color:white;
  width: 238px;
  height: 78px;
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbers{
  width:240px;
  height: 240px;
  background-color: cadetblue;
  display: flex;
  flex-wrap: wrap;
}
#indiv-number, #operation{
  background-color: lightcyan;
  width: 78px;
  height: 78px;
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#operation{
  background: deeppink;
}